.add-product {
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
  
  .add-product h2 {
    color: #415161;
    margin-bottom: 20px;
  }
  
  .add-product label {
    display: block;
    margin-top: 10px;
  }
  
  .add-product input,
  .add-product textarea {
    margin: 0;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid #ccc;
  }
  
  .add-product button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .add-product button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .add-product button:not(:disabled):hover {
    background-color: #45a049;
  }


#add-new-btn {
    margin-left: 16%;
    background-color: #415161;
    flex-wrap: wrap;
}
  