.logo-img-header {
    height: 100%;
}

.logo {
    height: 3.5rem;
    margin: 0.5rem 0 0.5rem 1.5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(235, 237, 239, 0.87) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar-links ul {
    margin: 0 1rem 0 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    font-size: 1.2rem;
}

.navbar-link {
    text-decoration: none;
    color: #415161;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #cdcdcd;
}

.navbar-brown {
    color: #AA3222;
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: none;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    color: #555;
    outline: none;
    font-size: 1.8rem;
    cursor: pointer;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }
    
        .navbar {
            flex-direction: column;
            align-items: flex-start;
        }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        margin: 0;
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-link {
        padding: .5rem 1rem;
    }

    .show-options {
        display: flex;
    }
}