.results-list {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 620px;
    overflow-y: scroll; 
    flex-wrap: wrap;
}

.results-list a {
  text-decoration: none;
  color: inherit;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  border: 1px solid #ccc;
}

.delete-btn {
  margin-top: 1%;
  margin-bottom: 5%;
  height: 5%;
  width: 50%;
  min-height: 30px;
  max-height: 40px;

  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #c0392b;
}

.edit-btn {
  margin-top: 1%;
  margin-bottom: 5%;
  height: 5%;
  width: 50%;
  min-height: 30px;
  max-height: 40px;

  background-color: #2f7fb4;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-btn:hover {
  background-color: #226b7e;
}

.product-preview {
  min-width: 200px;
  width: 17vw;
  height: auto;
  margin: 15px 18px;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}


.product-img {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img img {
  max-height: 100%;
  max-width: 100%;
}

.product-model {
  margin-top: 10px;
  text-align: center;
}

.product-brand {
  margin-top: 5px;
  text-align: center;
}

.product-price {
  margin-top: 5px;
  text-align: center;
}

.product-sizes {
  margin-top: 5px;
  text-align: center;
}

.product-sizes ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-sizes li {
  margin-top: 5px;
}

#update-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-product-container {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.input-container {
  margin-bottom: 10px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-container input {
  width: 95%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #45a049;
}

.edit-product-container button:last-child {
  margin-top: 20px;
  background-color: #2196f3;
}

.edit-product-container button:last-child:hover {
  background-color: #0f8ae6;
}
