.sidebar {
    position: absolute;
    margin-top: 0;
    width: 15vw;
    height: 100vh;
    min-height: 1200px;
  
    background-color: #415161;
    display: flex;
    flex-direction: column;
    align-items: center;

}
  
ul.sidebar-links {
    list-style: none;
    text-align: center;
}

.sidebar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    width: 13vw;
    height: 7vh;
    font-size: 1.5vw;
    font-weight: 500;
    color: white;
    border: 1px solid white;
}

.sidebar-link:hover {
    border: none;
    cursor: pointer;
    background-color: #cdcdcd;
}

li.active .sidebar-link {
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
}

@media (max-width: 700px) {
    .sidebar {
        position: relative;
        min-height: 100px;
        width: 100%;
        height: 100px;
        text-align: center;
    }
    
    ul.sidebar-links {
        width: 90%;
        height: 100%;
    }
    
    ul.sidebar-links li {
        display: inline-block;
        padding: 0 1vw;
        margin-top: 25px;
    }
    
    .sidebar-link {
        margin-top: 0;
        font-size: 3vw;

        width: 18vw;
        height: 50px;
    }
}