.user-preview {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-name h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #AA3222;
  }
  
  .user-email p,
  .user-cpf p,
  .user-cellphone p,
  .user-address p {
    margin-bottom: 5px;
  }
  
  .user-cellphone p {
    margin-bottom: 5px;
  }
  
  .user-address {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }

  .user-type {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
.user-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
