body{
    margin: 0;
    padding: 0;
    
    background-color: #f4f5f6;
    /*background: linear-gradient(140deg, rgba(255, 255, 255, 0) 0%,rgba(235, 237, 239, 0.87) 100%);*/
    font-family: 'Poppins', sans-serif;
}

html, body {
    position: relative;
    height: 100%;
}

/*Conteudo do Header ate 768px*/
.header {  
    width: 100%;
    height: 12%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(235, 237, 239, 0.87) 100%);
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

.menu {
    /* background-color: red; */
    width: 62.5%;
    height: 90%;
}

#img-logo-header {
    width: auto;
    height: 100%;
    padding: 6px 6px;
}

.options {
    /* background-color: yellow; */
    width: 60%;
    height: 100%;
    float: right;  

    display: flex;  
    align-items: center;
    justify-content: end;
}

.options a {text-decoration: none;}

#home-button {
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    color: #AA3222;
    padding: 0 28px 0 0;
}

#account-button {
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    color: #415161;
    text-decoration: none;
    padding: 0 28px 0 0;
}
/*Fim conteudo header até 768px*/





/*Footer até 768px*/
.footer {
    /*position: absolute;*/
    width: 100%;
    height: 32%;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    
    background-color: #415161;
}

.logo-name-icons {
    /* background-color: green; */
    width: 15%;
    height: 70%;

    display: table-cell;
    vertical-align: middle;
    text-align: center;   
}

#img-logo-footer {
    width: auto;
    height: 25%;
    padding: 10px 0;
}

.logo-name-icons h1 {
    font-size: 10px;
    padding: 10px 0;
    color: #ffffff
}

.footer-icons {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

.footer-text {
    /* background-color: red; */
    width: 15%;
    height: 70%;
}

.footer-text h1 {
    font-size: 7px;
    padding: 0px 1px 10px 1px;
    color: #ffffff
 }

 .footer-text p {
    font-size: 6px;
    padding: 0px 1px;
    color: #ffffff
 }

 .quick-links {
    /* background-color: blue; */
    width: 15%;
    height: 70%;
 }

 .quick-links h1 {
    font-size: 8px;
    padding: 0px 5px 10px 5px;
    color: #ffffff
 }

 .footer-links {
    font-size: 8px;
    padding: 0 5px
 }

 .footer-links a {
    text-decoration: line;
    color: #ffffff;

 }

 .important-links {
    /* background-color: black; */
    width: 15%;
    height: 70%;
 }

 .important-links h1 {
    font-size: 9px;
    padding: 0px 5px 10px 5px;
    color: #ffffff
 }

/*Termina Footer até 768px*/




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ MIN WIDTH 768px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media only screen and (min-width: 768px) {
    .header {  
        width: 100%;
        height: 12%;
    }

    .menu {
        width: 62.5%;
        height: 70%;
    }

    #img-logo-header {
        width: auto;
        height: 100%;
        padding: 2px 2px;
    }

    .options {
        width: 68%;
        height: 100%;
        float: right;
    }

    #home-button {
        font-size: 15px;
        padding: 0 30px 0 0;
    }

    #account-button {
        font-size: 15px;
        padding: 0 30px 0 0;
    }
    

    .footer {
        width: 100%;
        height: 32%;
        bottom: 0;
    }
    
    .logo-name-icons {
        /* background-color: green; */
        width: 15%;
        height: 70%;   
    }
    
    #img-logo-footer {
        width: auto;
        height: 40%;
        padding: 3px;
    }
    
    .logo-name-icons h1 {
        font-size: 25px;
        padding: 3px;
    }
    
    .footer-icons {
        padding: 20px 0;
    }

    .footer-text {
        width: 15%;
        height: 70%;
    }
    
    .footer-text h1 {
        font-size: 12px;
        padding: 0px 5px 10px 5px;
     }
    
     .footer-text p {
        font-size: 10px;
        padding: 0px 3px;
     }
     .quick-links {
        width: 15%;
        height: 70%;
     }
    
     .quick-links h1 {
        font-size: 12px;
        padding: 0px 5px 10px 5px;
     }
    
     .footer-links {
        font-size: 10px;
        padding: 0 10px
     }
       
     .important-links {
        width: 15%;
        height: 70%;
     }
    
     .important-links h1 {
        font-size: 12px;
        padding: 0px 5px 10px 5px;
     }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ MIN WIDTH 1000px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media only screen and (min-width: 1000px) {
    .header {  
        width: 100%;
        height: 12%;
    }

    .menu {
        width: 62.5%;
        height: 70%;
    }

    #img-logo-header {
        width: auto;
        height: 100%;
        padding: 2px 2px;
    }

    .options {
        width: 68%;
        height: 100%;
        float: right;
    }

    #home-button {
        font-size: 20px;
        padding: 0 30px 0 0;
    }

    #account-button {
        font-size: 20px;
        padding: 0 30px 0 0;
    }


    .footer {
     
        width: 100%;
        height: 32%;
        bottom: 0;
    }
    
    .logo-name-icons {
        /* background-color: green; */
        width: 15%;
        height: 70%;  
    }
    
    #img-logo-footer {
        width: auto;
        height: 40%;
        padding: 3px;
    }
    
    .logo-name-icons h1 {
        font-size: 25px;
        padding: 3px;
    }
    
    .footer-icons {
        padding: 20px 0;
    }

    .footer-text {
        width: 15%;
        height: 70%;
    }
    
    .footer-text h1 {
        font-size: 18px;
        padding: 0px 10px 18px 10px;
     }
    
     .footer-text p {
        font-size: 15px;
        padding: 0px 10px;
     }
     .quick-links {
        /* background-color: blue; */
        width: 15%;
        height: 70%;
     }
    
     .quick-links h1 {
        font-size: 18px;
        padding: 0px 10px 18px 10px;
        color: #ffffff
     }
    
     .footer-links {
        font-size: 15px;
        padding: 0 10px
     }
    
     .footer-links a {
        text-decoration: line;
        color: #ffffff;
    
     }
    
     .important-links {
        /* background-color: black; */
        width: 15%;
        height: 70%;
     }
    
     .important-links h1 {
        font-size: 18px;
        padding: 0px 10px 18px 10px;
        color: #ffffff
     }
}









































































#container{
    background-color: white;
    
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    padding-top: 2%;
    padding-bottom: 5%;
    margin-bottom: 4%;
}

#payment-container{
    width: 85%;
    margin-left: 7%;
    padding-top: 4%;
}

#checkout-text{
    box-sizing: border-box;

    background-color: #F7F6F7 ;
    border: 0.5px solid #415161;

    padding: 2.5%;
}

#checkout-text .title{

    font-family: 'Poppins';
    font-style: bold;
    font-weight: 1000;
    font-size: 20px;
    line-height: 28px;

    color: #515151;

}

#address-text{
    padding: 2%;

    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 0.5px solid #415161;
}

#address-text .title{
 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;

    color: #515151;
    float: left;
    width: 60%;
    
}

.select-box{
    border: none;
    width: 35%;
    height: 35px;
    margin-right: 5%;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #999999;

}


#payment-text{
    box-sizing: border-box;



    background: #FFFFFF;
    border: 0.5px solid #415161;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
}

#payment-text .title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;

    color: #515151;
}


#methods-payment{
    margin-top: 2%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 2%;
    /*background-color: yellow;*/

}


#methods-payment .container-payment{
    /*background-color: red;*/
    background-color: #F7F6F7;;
    width: 38em;

    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;

    border: 0.5px solid #415161;
    height: 20em;

    border-radius: 4px;
    column-gap: 15%;

}


.img-payment{
    height: 85%;
    width: 70%;
    /*background-color: blue;*/
    margin-top: 4%;
    margin-bottom: 4%;


    
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#radio{
    height: 100%;
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: space-between;


    /*background-color: purple;*/
}

#container-radio-payment{
    height: 10em;
}



#button-container{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0.5px solid #415161;
    padding-top: 2%;
    padding-bottom: 2%;
}

#button-container button{
    margin-left: 30%;
    width: 40%;
    height: 80%;
    background: #FF5151;
    border-radius: 5px;
    border-color: #FF5151;;
    padding: 1.5%;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 15px;
    color: white;
}

.radio-payment{
    width: 18px;
    height: 18px;

    border: 1px solid #676D6F;
    border-radius: 9px;
}



#cartoes-img{
    margin-left: 14%;
}
#pix-img{
    margin-left: 6%;
}
#boleto-img{
    margin-left: 6%;
}



#send-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}