.container {
    min-height: 63vh;
    display: flex;
    align-items: center;
}

.product-details {
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--white);
    width: 80%;
}

.product-details h2, span{
    font-size: 120%;
    color: var(--grey-text);
}

.product-details p {
    font-size: 90%;
    color: var(--grey-text);
}

.product-detail {
    padding: 0 0 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-image {
    width: 30vw;
}

.product-image img {
    width: 100%;
}


.product-info {
    padding: 0 0 0 1rem;
    text-align: justify;
    max-width: 48%;
    width: 30rem;
}

.product-info span {
    font-weight: 600;
}

.product-details-price {
    margin: 1rem 0;
}

.product-size {
    margin-bottom: 15px;
    display: flex;
}

.product-size h3 {
    font-size: 100%;
    font-weight: 400;
    margin-right: 15px;
    color: var(--grey-text);
}

.product-quantity .qtt-button {
    margin-left: 10px;
    text-decoration: none;
    height: 30px;
    padding: 3px 5px;
    border-radius: 6px;
    border-color: var(--bg-input);
    background-color: var(--button-login);
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}

.product-quantity input {
    height: 30px;
    width: 60px;
    padding: 0 5px;
}

.related {
    width: 100%;
    text-align: center;
}

.related h2{
    padding: 2rem;
    font-size: 140%;
}

.related-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 1100px) {
    .product-details {
        justify-content: center;
        padding: 2rem 5px;
    }

    .product-details h2, span {
        font-size: 100%;
    }

    .product-details p {
        font-size: 75%;
    }

    .product-detail {
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .product-info {
        max-width: 70vw;
        padding: 1rem;
    }

    .product-image {
        display: flex;
        justify-content: center;
        width: 60vw;
    }

    .product-size h3 {
        font-size: 75%;
    }

    .product-quantity {
        display: flex;
        align-items: center;
    }

    .product-quantity input {
        margin-right: 4px;
    }

    .product-quantity .qtt-button {
        margin: 0;
        height: 50px;
        width: 100px;
        margin: 0;
        font-size: 70%;
    }

    .related h2{
        padding: 2rem;
        font-size: 140%;
    }
}