.container {
    min-height: 63vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.signup-container form {
    width: 80%;
}

.signup-container form p {
    font-size: 10px;
}

.signup-container {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--border-input);
}

.signup-container .input-container {
    width: 100%;
    display: flex;
}

.signup-container input {
    height: 2rem;
    flex-grow: 1;
    margin: 0.5vh 0.2vw;
}

.signup-container select {
    width: 10%;
    height: 1.6rem;
    margin: 0.5vh 1vw;
}

.submit-button {
    width: 100%;
    margin: 2vh 0;
}

.submit-button input[type=submit] {
    text-decoration: none;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border-color: var(--bg-input);
    background-color: var(--button-login);
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    flex-grow: 0;
}

@media screen and (max-width: 600px) {
    h3 {
       font-size: 100%;
       margin: 1vh 1vw;
    }
    
    .signup-container {
        width: 80%;
    }
    
    .signup-container select {
        width: auto;
        height: 2rem;
        margin: 0.5vh 0.2vw;
        flex-grow: 1;
    }
    
    .input-container {
        flex-direction: column;
    }
}